{% extends 'groups/base.html' %}

{% block title %}Members{% endblock %}

{% block content %}
<h1>Our Members</h1>
<hr>
<ul>
    {% for item in member_data %}
        <li>
            {{ item.member.full_name }} - {{ item.member.phone_number|slice:":4" }}****{{ item.member.phone_number|slice:"-2:" }}
            {% for membership in item.member.memberships.all %}
                <a href="{% url 'pay_contribution' membership.id %}">Pay for {{ membership.chama.name }}</a>
            {% endfor %}
            <br>
            <span style="color: var(--muted); font-size: 0.85rem;">Total Confirmed Contributions: {{ item.total_contributed }} KES</span>
        </li>
    {% endfor %}
</ul>
{% endblock %}  