{% extends 'groups/base.html' %}

{% block title %}Members{% endblock %}

{% block content %}
    <h1>Our Members</h1>
    <ul>
        {% for member in members %}
            <li>
                {{ member.full_name }} - {{ member.phone_number }}
                {% for membership in member.memberships.all %}
                    <a href="{% url 'pay_contribution' membership.id %}">Pay for {{ membership.chama.name }}</a>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}    